:root {
    --headingFont: "Poppins", "Arial";
    --bodyFont: "Roboto", "Arial";
    --accent: #DAA520;
    --secondaryOne: #012362;
    --secondaryTwo: #f2f2f2;
    --primary: #fafafa;
    --black: #333333;
}

.course-info{
    margin-top: 70px;
}

.course-info label {
    margin-top: 100px;
    margin-left: 65px;
    font-family: var(--bodyFont);
}

table {
    width: auto;
    min-width: 1000px;
    max-width: 90%;
    position: relative;
    margin: 40px auto;
    text-align: center;
}

table,
td,
tr,
th {
    border-collapse: collapse;
    border: 1px solid var(--black);
    color: var(--black);
}

td {
    font-family: var(--bodyFont);
    padding: 5px;
}

th {
    font-family: var(--headingFont);
    padding: 5px;
}