*{
    margin: 0;
    padding: 0;
    box-sizing: none;
}   

body{
    background-color: #eee;
    display: flex;
    font: 1em sans-serif
}
.container{
    /* pagnaka margin-inline auto yan, automatic gitna agad */
    margin-top: 100px;
    margin-inline: auto;
    
    
    width: 540px;
    height: auto;
    box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
}

.CMUImage{
    width: 100%;
    height: 100px;
    background-image: url(/images/cmu.png);
    background-size: 100%;
    background-repeat: no-repeat;
    
    /* CENTER NG IMAGE AGAD */
    background-position: center;

    /* top-left, top-right, bottom-left, bottom-right since yung taas lang need rounded 10px 10px ayun lang indi 0 */
    border-radius: 10px 10px 0px 0px;

}

.CMUImage h1{
    font-size: 25px;
    text-align: center;
    color: white;

    position: relative;
    top: 30px;
}


form{
    /* naka width 90% lang saka margin auto para yung mga input saka label may space sa gilid tignan mo yung wireframe may spaces sa gilid */
    width: 90%;
    margin-inline: auto;
    margin-top: 30px;
}


.container form .group {
    /* border-radius: 40px;
    width: 540px;
    height: 360px;
    position: relative; */

    /* YUNG PARENT(container) dapat yung nasa gitna */
    /* top: 100px;
    left: 400px; */ 

    /* padding: 20px;
    background: white;
    background-image:
    linear-gradient(transparent 60%, white 50%),
    url(/images/cmu.png);
    background-size: 100% 50%;
    background-repeat: no-repeat;
    box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.75); */
    }

/* .container form h1{
   position: relative;
    top: 20px;
    text-align: center;
    margin-bottom: 24px;
    color:white;
    font-size: 30px;
} */

form input{
    /* i-100% mo lang yung width para kung ano width ng form ayun nalang yung width ng input */
    /* yung dalawang input na yan */
    width: 100%;
    height: 30px;
    background: white;
    border-radius: 5px;
    border: 1px solid gray;

    /* may margin yung top at bottom pero left at right wala */
    margin: 5px 3px 0px 0px ;
}


/* .container form .userform {
    position: relative;
    top: 60px;
    left: 2px;
    width: 530px;
    height: 30px;
    background: white;
    border-radius: 5px;
    border: 1px solid gray;
    margin: 10px 0 18px 0;
    
} */

/* .container form .passform {
    position: relative;
    top: 57px;
    left: 2px;
    width: 530px;
    height: 30px;
    background: white;
    border-radius: 5px;
    border: 1px solid gray;
    margin: 10px 0 18px 0;
    
} */
form button{
   
    border-radius: 20px;
    font-size: 20px;
    width: 200px;
    color: white;
    background-color: #DAA520;
    text-align: center;
    border: none;
    cursor: pointer;
    padding: 5px;

    /* 10px yung margin ng top at bottom tas auto yung left and right para magitna */
    margin: 10px auto;
    display: block;
    
    
}
/* .container form .button{
    position: relative;
    top: 40px;
    left: 165px;
    border-radius: 20px;
    font-size: 20px;
    width: 200px;
    color: white;
    background-color: #DAA520;
    text-align: center;
    border: none;
    cursor: pointer;
    padding: 5px;
} */

form label{
    font-size: 16px;

    font-weight: bold;
}
/* .container form .user{
    position: relative;
    top:70px;
    font-size: 25px;
}

.container form .pass{
    position: relative;
    top:70px;
    font-size: 25px;
    
} */
form small{
    color: red;
    font-size: 12px;

    /* nakatago yung required na text */
    visibility: hidden;
}
/* .container form .rq1{
    color: red;
    position:relative;
    top: 42px;
    left: 3px;
    font-size: 12px;
}

.container form .rq2{
    color: red;
    position:relative;
    font-size: 12px;
    top: 39px;
    left: 3px;
} */

form a{
    color: #858585;
    text-decoration: none; 
    cursor: pointer; 
    font-size: 13px;
    /* para mapunta sa right side */
    float: right;
}
/*umay na ko sa'yo. */

/* .container form .forpass .forgot-password {
    position: relative;
    left: 405px;
    top: 30px;
    text-align: center;
    color: #858585;
    text-decoration: none; 
    cursor: pointer;
} */