:root {
    --headingFont: "Poppins", "Arial";
    --bodyFont: "Roboto", "Arial";
    --accent: #DAA520;
    --secondaryOne: #012362;
    --secondaryTwo: #f2f2f2;
    --primary: #fafafa;
    --black: #0d0d0d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{

    background-color: var(--primary);
    overflow: hidden;
    min-height: 50em;
}

form{
    width: 98%;
    max-width: 600px;
    box-shadow: 11px 11px 30px 10px rgba(0,0,0,0.23);
    height: fit-content;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
}

.fa-lock{
    font-size: 50px;
    padding: 20px;
    border-radius: 50%;
    width: fit-content;
    color: var(--secondaryOne);
    border: 4px solid var(--secondaryOne);
    margin: 10px auto 30px
}
form h4{
    font-size: 20px;
    font-family: var(--headingFont);
    text-align: center;
}

.InputContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px auto 30px;
}

.InputContainer label{
    font-size: 16px;
    font-family: var(--bodyFont);
}

.InputContainer input{
    padding: 5px 5px;
    font-size: 14px;
    font-family: var(--bodyFont);
}

button[type="submit"]{
    width: 50%;
    margin-inline: auto;
    padding: 10px;
    background-color: var(--accent);
    color: var(--black);
    border: none;
    transition: 0.3s ease;
    border-radius: 10px;
    cursor: pointer;
    font-family: var(--headingFont);
}

button[type="submit"]:hover{
    background-color: var(--secondaryOne);
    color: var(--primary);
    transform: scale(0.95);
}

.OuterLoader{
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

.Loader {
    border: 8px solid var(--secondaryTwo); /* Light grey */
    border-top: 8px solid var(--black); /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
.Inactive{
    display: none;
}

