:root {
    --headingFont: "Poppins", "Arial";
    --bodyFont: "Roboto", "Arial";
    --accent: #DAA520;
    --secondaryOne: #012362;
    --secondaryTwo: #f2f2f2;
    --primary: #fafafa;
    --black: #333333;
}

.course-info {
    max-width: 1000px; 
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 10px auto; /* CENTERED the whole div */
    position: relative;
    margin-top: 6%;
}

table {
    width: 95%;
    max-width: 1000px; 
    height: auto;
    text-align: center;
    border-collapse: collapse;
    margin: 40px auto; /* Top & bottom space + horizontal center */
}

th, td{
    padding: 5px;
    border: 1px solid black; 
    color: #333333;
    font-family: var(--bodyFont);
    width: fit-content;
}

p{
    font-family: var(--bodyFont);
}

