<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<link rel="stylesheet" href="/stylesheets/NavigationAdmin.css">
<link rel="stylesheet" href="/stylesheets/AdCreateAccount.css">

<body>

    <!-- SIDE BAR -->
    <aside class="Sidebar">
        <div class="LogoHeaderCont">
            <img src="/images/cmulogo.png" alt="CMU LOGO">
            <h1>CMU RRMS</h1>
        </div>
    
    <!-- Sidebar Links -->
        <nav>
            <nav>
                <a href="/AdDashboardRoute" class="SidebarLinks">
                    <i class="fa-solid fa-gauge"></i>
                    <label for="">Dashboard</label>
                </a>
                <a href="/AdCreateAccountRoute" class="SidebarLinks active">
                    <i class="fa-solid fa-user-plus"></i>
                    <label for="">Add Account</label>
                </a>
                <a href="/AdManageRoomRoute" class="SidebarLinks">
                    <i class="fa-solid fa-table-list"></i>
                    <label for="">Manage Rooms</label>
                </a>
            </nav>
        </nav>
    </aside>


    <main class="MainContent">
        <!-- Header Navigation -->
        <header class="HeaderNavigation">
            <!-- dropdown button -->
            <div class="Dropdown">
                <button id="DropdownBtn">
                    <label class="Username"><%= Username %></label>
                    <i class="fa-solid fa-caret-down"></i>
                </button>
                
                <div id="DropdownContent">
                    <a href="">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <label for="">Logout</label>
                    </a>
                </div>
            </div>
        </header>

        <div class="SignUpContainer">
            <form action="/AdminRoute/CreateAccount" method="post">
                
                <h1 class="Heading">Create A New Account</h1>

                <div class="inputRow">
                    <div class="inputContainer Quad">
                        <label for="Name">First name:</label>
                        <input type="text" name="FirstName" required id="Name">
                        <small>Required</small>
                    </div>

                    <div class="inputContainer Quad">
                        <label for="Name">Middle name:</label>
                        <input type="text" name="MiddleName" required id="Name">
                        <small>Required</small>
                    </div>

                    <div class="inputContainer Quad">
                        <label for="Name">Last name:</label>
                        <input type="text" name="LastName" required id="Name">
                        <small>Required</small>
                    </div>

                    <div class="inputContainer Quad">
                        <label for="Name">Extension Name:</label>
                        <input type="text" name="ExtensionName" id="Name">
                    </div>
                </div>
                <!-- <div class="inputRow">
        
                    <div class="inputContainer Bi">
                        <div class="inputContainer Uni">
                            <label for="Name">Name:</label>
                            <input type="text" name="Name" required id="Name">
                            <small>Required</small>
                        </div>
                    </div>
        
                    <div class="inputContainer Bi">
                        <div class="inputContainer Uni">
                            <label for="Role">Role:</label>
                            <select name="Role" id="Role" required>
                                <option value=""></option>
                                <option value="Faculty">Faculty</option>
                                <option value="Student">Student</option>
                            </select>
                            <small>Required</small>
                        </div>
                    </div>
        
                </div> -->
                <div id="formContainer"></div>


                <div class="inputRow">
        
                    <div class="inputContainer Bi">
                        <label for="Password">Email:</label>
                        <input type="email" name="Email" required>
                        <small>Required</small>
                    </div>

                    <div class="inputContainer Bi">
                        <label for="Department">Department:</label>
                        <select name="Department" id="Department" required>
                            <option value=""></option>
                            <option value="College of Computer Studies">College of Computer Studies</option>
                            <option value="College of Art and Science">College of Art and Science</option>
                            <option value="College of Criminal Justice Education">College of Criminal Justice Education</option>
                            <option value="College of Teacher Education">College of Teacher Education</option>
                            <option value="College of Business and Accountancy">College of Business and Accountancy</option>
                        </select>
                    </div>
        
                </div>

                <div class="inputRow">
                    <%if(created==="false"){%>
                        <div class="inputContainer Uni">
                            <label for="Username">Username:</label>
                            <input type="text" name="Username" required id="Username" class="invalid">
                            <small class="invalid"><%= message %></small>
                        </div>
                    <% }else{ %>
                        <div class="inputContainer Uni">
                            <label for="Username">Username:</label>
                            <input type="text" name="Username" required id="Username">
                            <small>Required</small>
                        </div>
                    <% } %>
                </div>
        
                <div class="inputRow">
        
                    <div class="inputContainer Uni">
                        <label for="Password">Password:</label>
                        <input type="text" name="Password" required>
                        <small>Required</small>
                    </div>
        
                </div>
        
        
                <!-- INSERT HERE -->
        
                
        
                <input type="submit" class="SubmitBtn">
        
            </form>
        </div>

    </main>

    <% if(created==="true"){%>
        <div class="MsgBox" id="MsgBox">
            <i class="fa-solid fa-user-check"></i>
            <p><%= message %></p>
            <i class="fa-solid fa-x" id="XBtn"></i>
        </div>
    <% } %>
    
</body>

<script src="/javascripts/NavigationAdmin.js"></script>
<script src="/javascripts/AdCreateAccount.js"></script>
</html>