<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> LOG IN </title>
    <link rel="stylesheet" href="/stylesheets/AdLogin.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="AdLogin.css">
</head>

  
<body>
    <div class="container">
        <div class="CMUImage">
            <h1>CMU Room Reservation System</h1>
        </div>
        <form action="/AdLoginRoute/Login" method="post">
            <% if(error) { %>
                <div class="MessageBox">
                    Invalid Username or Password.
                </div>
            <%}%>

            <label>Username:</label><br>
            <input type="username" class="userform" placeholder="Username" required name="Username">
            <small>p</small>
            <br>
            <label class="pass">Password:</label><br>
            <input type="password" class="passform" placeholder="Password" required name="Password">
            <br>
            <small>p</small>
            <br>

            <button>Login</button>
        </form>
    </div>

    
</body>

</html>
