<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
</head>
<link rel="stylesheet" href="/stylesheets/ChangePass.css">

<body>
    <div class="SignUpContainer">
        <form action="/AdminRoute/ChangePassword?_method=PATCH" method="post">

            <h1 class="Heading">Change Password</h1>

            <div class="inputRow">

                <div class="inputContainer Uni">
                    <label for="Username">Username:</label>
                    <input type="text" name="Username" required>
                    <small>Required</small>
                </div>

            </div>
            
            <div class="inputRow">

                <div class="inputContainer Uni">
                    <label for="Password">Password:</label>
                    <input type="text" name="Password" required>
                    <small>Required</small>
                </div>

            </div>

            <input type="submit" class="SubmitBtn">

        </form>
    </div>

    
</body>

</html>
</body>
</html>