<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> LOG IN </title>
    <link rel="stylesheet" href="/stylesheets/Login.css">

</head>

<body>
    <div class="container">
        <div class="CMUImage">
            <h1>Room Management System</h1>
        </div>

        <form action="">
            <label>Username:</label><br>
            <input type="username" placeholder="Username" name="Username" required>
            <small>p</small>
            <br>
            <label >Password:</label><br>
            <input type="password" placeholder="Password" name="Password" required>
            <br>
            <small>p</small>
            <br>
            <a href="forgot-password">Forgot Password?</a>
            <br>
            <button>Login</button>
        </form>
    </div>
</body>

</html>