<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
</head> -->
<link rel="stylesheet" href="/stylesheets/SignUp.css">

<body>

    <!-- <% if (created === 'false') { %>
        <script>
            alert("<%= message %>");
        </script>
    <% } %> -->

    
    <div class="SignUpContainer">

        <form action="/Admin/CreateAccount" method="post">

            <h1 class="Heading">Create A New Account</h1>

            <!-- <div class="inputRow">

                <div class="inputContainer Tri ">
                    <label for="FirstName">First Name:</label>
                    <input type="text" name="FirstName" required>
                    <small>Required</small>
                </div>

                <div class="inputContainer Tri">
                    <label for="MiddleName">Middle Name:</label>
                    <input type="text" name="MiddleName" required>
                    <small>Required</small>
                </div>

                <div class="inputContainer Tri">
                    <label for="LastName">Last Name:</label>
                    <input type="text" name="LastName" required>
                    <small>Required</small>
                </div>

            </div> -->

            <div class="inputRow">

                <div class="inputContainer Tri">
                    <label for="Course">Course:</label>
                    <select name="Course" id="" required>
                        <option value=""></option>
                        <option value="Bachelor of Science in Information Technology">Bachelor of Science in Information Technology</option>
                        <option value="Bachelor of Science in Accountancy">Bachelor of Science in Accountancy</option>
                        <option value="Bachelor of Science in Criminology">Bachelor of Science in Criminology</option>
                        <option value="Bachelor of Arts in Journalism">Bachelor of Arts in Journalism</option>
                        <option value="Bachelor of Arts in Public Administration">Bachelor of Arts in Public Administration</option>
                    </select>
                    <small>Required</small>
                </div>

                <div class="inputContainer Tri">
                    <label for="">Year:</label>
                    <input type="text" required name="Year">
                    <small>Required</small>
                </div>

                <div class="inputContainer Tri">
                    <label for="">Section:</label>
                    <input type="text" required name="Section">
                    <small>Required</small>
                </div>

            </div>

            <!-- <div class="inputRow">

                <div class="inputContainer Bi">
                    <label for="Email">Email Address:</label>
                    <input type="text" name="Email" required>
                    <small>Required</small>
                </div>

                <div class="inputContainer Bi">
                    <label for="Contanct_Number">Contact Number:</label>
                    <input type="text" name="Contanct_Number" required>
                    <small>Required</small>
                </div>

            </div> -->

            <div class="inputRow">

                <div class="inputContainer Uni">
                    <label for="Username">Username:</label>
                    <input type="text" name="Username" required>
                    <small>Required</small>
                </div>

            </div>
            
            <div class="inputRow">

                <div class="inputContainer Uni">
                    <label for="Password">Password:</label>
                    <input type="text" name="Password" required>
                    <small>Required</small>
                </div>

            </div>

            <input type="submit" class="SubmitBtn">

        </form>
    </div>

    
</body>

</html>