<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <link rel="stylesheet" href="/stylesheets/Navigation.css">
    <link rel="stylesheet" href="/stylesheets/UsReportForm.css">
    <link rel="stylesheet" href="/stylesheets/Chatbot.css">
</head>

<!-- header navigation -->
<body>
    <nav class="NavBar">
        <!-- LOGO AND HEADING -->
        <div class="BarLogoContainer">
            <i class="fa-solid fa-bars" id="BarBtn"></i>
            <div class="LogoContainer">
                <img src="/images/cmulogo.png" alt="">
                <h1>City of Malabon University</h1>
            </div>
        </div>

        <!-- USERNAME DROPDOWN -->
        <div class="Dropdown">
            <button id="DropdownBtn">
                <label class="Username"><%= Username %></label>
                <i class="fa-solid fa-caret-down"></i>
            </button>

            <div id="DropdownContent">
                <a href="/UsProfileRoute">
                    <i class="fa-solid fa-user-gear"></i>
                    <label for="">Profile</label>
                </a>
                <a href="/LogoutRoute">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <label for="">Logout</label>
                </a>
            </div>
        </div>

    </nav>


    <main class="NavConContainer">
        <!-- SIDE NAVIGATIONS -->
        <aside class="SideNavContainer" id="SideNavContainer">
            <nav>
                <a href="/UsBookRoute" class="SideNavLink">
                    <i class="fa-solid fa-calendar-plus"></i>
                    <label for="" class="SideNavLabel">Appointment</label>
                </a>
                <a href="/UsScheduleRoute" class="SideNavLink">
                    <i class="fa-solid fa-calendar-days"></i>
                    <label for="" class="SideNavLabel">Schedule</label>
                </a>
                <a href="/UsReportSubmission" class="SideNavLink active">
                    <div class="ReportIconContainer">
                        <i class="fa-solid fa-file"></i>
                        <% if (PendingDue) { %>
                            <span><%= PendingDue %></span>
                        <% } %>
                    </div>
                    <label class="SideNavLabel">Report</label>
                </a>
            </nav>
        </aside>

        <!-- MAIN CONTENTS CONTAINER -->
         <section class="ContentContainer">
            <div class="btnContainer"><button onclick="history.back()" id="BackBtn"><i class="fa-solid fa-arrow-left"></i>Back</button></div>
            <form action="/UserRoute/SubmitReport/<%= Id %>" method="post" enctype="multipart/form-data">
                <h3>Occupancy Report</h3>
                <div class="InputContainer">
                    <label for="BeforeImage">Before: </label>
                    <div class="FileInput">
                        <input type="file" name="BeforeImage" id="BeforeImage" accept="image/*" multiple required>
                        <div class="UploadIcon">
                            <i class="fa-solid fa-file-arrow-up"></i>
                            <p>Upload your image here.</p>
                        </div>
                    </div>
                    <h6>Uploaded Files:</h6>
                    <div class="BeforeFileUploaded">

                    </div>
                </div>

                <div class="InputContainer">
                    <label for="AfterImage">After: </label>
                    <div class="FileInput">
                        <input type="file" name="AfterImage" id="AfterImage" accept="image/*" multiple required>
                        <div class="UploadIcon">
                            <i class="fa-solid fa-file-arrow-up"></i>
                            <p>Upload your image here.</p>
                        </div>
                        
                    </div>
                    <h6>Uploaded Files:</h6>
                    <div class="AfterFileUploaded">

                    </div>
                </div>
    
                <div class="InputContainer">
                    <label for="Remarks">Remarks:</label>
                    <textarea name="Remarks" id="" required></textarea>
                </div>
    
                <button type="submit">Submit</button>
    
    
            </form>
            <!-- Chatbot -->
            <div class="ChatBotContainer Inactive">
                <div class="Inactive" id="ChatContainer">
                    <div id="Header">
                        
                    </div>
                    <div id="MessageArea">
                        
                        <div class="Message AI">
                            How can I help you?
                        </div>
                        
                    </div>
                    <div class="InputMessage">
                        <textarea name="" id="Input" placeholder="Ask me"></textarea>
                        <button id="SendMessageBtn" onclick="sendMessage()"><i class="fa-solid fa-paper-plane"></i></button>
                    </div>



                </div>
                <div id="ChatHead"><i class="fa-solid fa-comment-nodes" style="color: #f2f2f2; font-size: 25px;"></i></div>
            </div>
            
        </section>
    </main>
    <!-- APPOINTMENT FORM -->

    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js" integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+" crossorigin="anonymous"></script>
    <script src="/javascripts/Chatbot.js"></script>
    <script>
        const BeforeImage = document.getElementById("BeforeImage");
        const AfterImage = document.getElementById("AfterImage");
        const BeforeFileUploaded = document.querySelector(".BeforeFileUploaded");
        const AfterFileUploaded = document.querySelector(".AfterFileUploaded");

        BeforeImage.addEventListener("change", function () {
            const files = BeforeImage.files;
            ShowUploadedImage(files, BeforeFileUploaded);
        });

        AfterImage.addEventListener("change", function () {
            const files = AfterImage.files;
            ShowUploadedImage(files, AfterFileUploaded);
        });

        function ShowUploadedImage(files, fileContainer){
            const p = fileContainer.querySelectorAll(".FileUploaded p");
            p.forEach(file => file.remove());

            Array.from(files).forEach(image => {
                let exisitingFile = fileContainer.querySelector(`p[data-name="${image.name}"]`);
                if (!exisitingFile) {
                    const p = document.createElement("p");
                    fileContainer.appendChild(p);
                    p.innerHTML = image.name;
                }
                
            });
        }
       
    </script>
    <script src="/javascripts/Navigation.js"></script>
</body>

</html>